.c-events {  border-top: 1px solid $white;
  &:first-of-type{ border-top: none; }
  &__header {
    a {  padding: 15px; font-size: 16px;
      svg { margin: 0;
        path {  }
      }

      span { }

      &:hover {
        svg {
          path {  }
        }
      }
    }

    span {
      &.title { font-size: 25px; line-height: 25px; padding: 15px; }
    }
  }

  .c-table {
    &-item {
      position: relative;
      border-bottom: none;
      padding: 30px 15px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns:unset;
      grid-template-areas: unset;
      grid-template-rows: repeat(1, 1fr);
      grid-auto-flow: row;
      gap: 10px;
      text-align: right;
      &:last-of-type { }

      &__column {
        position: relative;
        max-width: 100% !important;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        &::before {
          content: attr(data-label);
          display: block;
          font-weight: 600;
          margin-bottom: 5px;
          text-align: left;
        }
      }
      &__date { grid-area: unset;  }
      &__title { grid-area: unset; }
      &__location { grid-area: unset;}
      &__url {grid-area: unset;  display: flex; align-items: center; justify-content: flex-end; width: 100%; margin-top: 15px;
        a {
          svg {
            path {  }
          }

          &:hover {
            svg { }
          }
        }

        &.is-active {
          a {
            svg { }
          }
        }
      }
    }

    &-content {
      .u-cols {
        .u-col {
          &--right {
            .btn {  }
          }
        }

        &.has-members {
          .u-col {
            &--left {  }
            &--right {
              a{

              }
            }
          }
        }
      }
    }

    .c-members-tagline {  }

    .c-members-list {
      &__item {
        img { }
      }
    }

    &-row {
      &:last-of-type {  }
    }
  }

  &.is-green {
    .c-events {
      &__header {  }
    }

    .c-table {
      &-row { }

      &-item {
        &__url { }
      }
    }
  }

  &.is-white {
    .c-events {
      &__header {
        a {
          &:hover {  }
        }
      }
    }

    .c-table {
      &-row {  }

      &-item {
        &__url {
          a {
            svg {
              path { }
            }
          }
        }
      }
    }
  }
}

/** MODULES **/
.module {

  &--story{
    .u-table {
      &-row {
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        &:after {  }
      }

      &-column { width: 100%; padding: 30px 20px;
        &:nth-child(even){  border-left: 1px solid $white; }
        &:before{content: "";position: absolute; top: 100%; left: 0; width: 100%; height: 1px; background-color: $white; }

        &:last-of-type {
          &:after { }
        }

        &:after{
          display: none;
        }

        &.is-full {  }

        &.has-logo {
          svg { max-width: 100px; height: auto; }
        }

        &.has-button {
          height: 100%;
          a { padding: 0; }
        }

        &.has-cta {
          width: 100%;
          .c-cta {
            &__title {  }
          }

          .u-form {  }
        }
      }

      .u-text { position: relative;
        span { display: block;
          &.title {  }
          &.text {  }
        }
      }
    }
  }

  &--camps {
    .u-cols {
      .u-col { }

      &--main {
        .u-col {
          &--left { position: relative; order: 2;
            &:after { display: none; }
          }

          &--right { position: relative;  order: 1;}
        }
      }
    }

    .c-camps {
      .c-camp {
        &__image { position: relative; padding: 0;
          img { }
        }
      }
    }

    .c-station {
      &__header { padding: 20px 15px;
        span { font-size: $mobileNormalTextSize;}
        a { text-align: right; font-size: $mobileNormalTextSize}
      }

      &__meta { padding: 20px 15px;
        &-title {  }
      }

      &__footer {
        .u-cols {
          flex-direction: row;
          .u-col { width: 50%; height: 70px;
            &--left { order: 1;
              span { text-transform: uppercase; font-size: $mobileNormalTextSize; }
              &:after{content: "";
                display: block;
                width: 1px;
                height: 100%;
                background-color: #fff;
                position: absolute;
                top: 0;
                right: 0;}
            }

            &--right {
              svg { width: 40px; height: 40px;
                path { fill: $white; }
              }
            }
          }
        }
      }
    }
  }

  &--ti {
    margin-bottom: 60px;

    .u-cols {
      .u-col {
        &--left { width: 100%;  }
        &--right {
          img { @include object-fit; margin-top: 20px !important; max-width: 150px; }

          &:before { display: none; }
        }
      }
    }
    &.has-bg { margin-top: 60px; padding: 60px 0; margin-bottom: 0;
      .container { }

      .u-cols {
        .u-col {
          &--left { width: 100%;  }
          &--right {
            position: relative;
            img { @include object-fit; margin: 20px auto auto;}

            &:before { display: none; }
          }
        }
      }
    }

  }

  &--ph {
    .c-text {
      &__title {
        color: $green;
        font-weight: 900;

        &.lg {
          font-size: 40px;
          line-height: 1.125em;
        }

        &.is-single {
          font-size: 40px;
          line-height: 1.125em;
          max-width: 100%;
        }
      }
    }
  }

  &--trainingplan {
    .module {
      &__heading { }
    }

    .container{
      border: none;
    }

    .c-plan {
      &-header { border: none;
      }

      .c-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        white-space: nowrap;
        box-shadow: -1px 0 0 0 $green, 1px 0 0 0 $green;

        &:first-child{
          border-top: 1px solid;
        }
        &:last-child{
          border-bottom: 1px solid;
        }
        &__item {
          font-size: 1.1rem;
          padding: 15px;
          width: 50%;

          &:after {  }
          &:before { display: none; }

          &:first-of-type {
            &:before {  }
          }

          &:last-child{
            &:after{
              display: none;
            }
          }

          &.is-active, &:hover {  }
        }
      }

      &-content {
        padding: 30px 15px;
        .u-cols {
          flex-direction: column;
          gap: 15px;

          .u-col {
            &--left { width: 100%;
              .c-plan__image{
                img{
                  max-width: 100px;
                }
              }
            }
            &--right { width: 100%; }
          }
        }

        &.is-active{ }
        //&:first-of-type { display: block; }
      }

      &-features {
        margin: 0 0 20px;
        .c-features {
          .c-feature {
            line-height: 1rem;
            width: 45%;
            &__icon {
              svg {  width: 25px; height: 25px;}
            }

            &__text {
              span {font-size: 13px; line-height: 1rem; }
            }
          }
        }
      }

      &-meta {
        margin: 0 0 25px;
        &__name {
          margin: 0 25px 0 0;
          span {
            font-size: 15px;
            &:last-of-type {
              font-size: 20px;
              line-height: 1.25em;
            }
          }
        }
      }

      &-footer {
        &__notice{
          p{
            font-size: 16px;
            line-height: 1.12em;
          }
        }
      }

      &.vomaster {  }
    }
  }

  &--benefits {
    &.has-togglers {
      .u-cols { flex-direction: column;
        &.has-image {
          .u-col { width: 100%;
            &--left {
              position: relative;
              border-bottom: 1px solid $green;
              img { width: 100%; height: 100%; object-fit: contain; object-position: top; max-width: 100%; margin: auto; }
            }
            &--right {
              border-left: none;
              &:before { display: none; }
            }
          }
        }
      }
    }
  }

  &--comunity { border-top: 1px solid $green; padding-bottom: 100px; background-color: $white;
    .inner {
      .u-cols {
        .u-col { width: 100%; padding: 20px 15px 40px 15px;
          &--left { border: none; }
          &--right {
            img { max-width: 200px; }

            .c-button {  }
          }
        }
      }

      .c-links { margin: 20px 0 0;
        ul {
          li { margin: 0 0 10px;
            a { width: auto; justify-content: flex-start; gap: 20px;
              svg {  }
            }
            &:last-of-type {  }
          }
        }
      }
    }

    .module-header { position: relative; display: flex; border-bottom: 1px solid $green;
      &:before,&:after { display: none; }

      .u-cols {
        .u-col {
          &--left { padding: 40px 15px; width: 100%; }
        }
      }
    }
  }

  &--cta {
    .c-cta { padding: 20px;
      .u-cols { gap: 20px;
        .u-col {
          &--left { width: 100%; }
          &--right { flex: none; margin: 0; }
        }
      }

      &__meta {
        &-title { margin-bottom: 20px; font-size: 25px; line-height: 30px; }
      }

      &--contact {
        .u-cols {  }

        .c-cta {
          &__meta {
            &-title {  }
          }
          &__icon {  }
        }
      }
    }
  }

  .c-gallery { position: relative; display: flex; justify-content: space-between; gap: 15px; flex-direction: column; padding-bottom: 60px;
    &__column { width: 100%;
      &:first-of-type {
        aspect-ratio: 16/9;
        .c-gallery {
          &__item { position: relative; top: 0; left: 0; width: 100%; height: 100%; aspect-ratio: 1 / 1; }
        }

        .c-buttons {
          bottom: 0;
          left: 0;
          display: flex;
          z-index: 100;
          a { background-color: $orange; color: $white; margin: 0 15px 0 0; padding: 10px 20px; box-sizing: border-box; }
        }
      }

      &:last-of-type { display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 15px;
        .c-gallery {
          &__item { width: 48%; padding-bottom: 0; margin-bottom: 0; position: relative;

            &:not(.is-visible){ display: none; }
            img { position: relative; top: 0; left: 0; @include object-fit; aspect-ratio: 1/1; }
          }
        }
      }
    }
  }

  &--textbanner {
    h2 {  }
    .u-cols { gap: 30px;
    }

  }

  &--textbox{
    .u-cols{
      .u-col{
        &--left{}
        &--right{
          .c-box{
             &__title{
               border-top: none;
             }
          }
        }
        .c-box{
          &__title{
            padding: 20px;
            border-right: 1px solid !important;
            border-left: 1px solid !important;
          }
          &__content{
            border-right: 1px solid !important;
            border-left: 1px solid !important;
            padding: 20px;

            ul,ol{margin-left: 20px;}
          }

          &__button{
            a{ margin: 20px -20px -20px;}
          }
        }
      }
    }
  }

  &--usps {
    .c-usps { grid-template-columns: repeat(auto-fit, minmax(140px,200px) ); overflow-y: auto;
      .c-usp { grid-row: 1; flex-direction: column; align-items: flex-start; justify-content: center; padding: 20px;
        &:last-of-type { border: none; }
      }
    }
  }

  &--plans{
    .c-plans{
      .c-header-lines{
        .inner { margin-left: -15px; margin-right: -15px;}
      }
    }
  }

  &--faqs {
    .c-togglers { border: 1px solid $green;
      &__header { padding: 20px; }
      .c-toggler {
        &__header { padding: 20px; }
        &__content { padding: 20px; }
      }
    }
  }

  &--singlelatest { margin-top: 100px;
    .c-ss__header { margin: 0 0 50px; display: flex; align-items: center; justify-content: space-between;
      h2{
        font-size: 25px;
      }
      .c-ctrls { margin: 0;
        svg {
          path { fill: $green; }
        }
      }
    }
  }

  &--textbtn {
    .u-cols{
      gap: 20px;

      .u-col{
        &--left{}
        &--right{}
      }

    }
  }


}

.c-tabs {
  &-nav {
    &--comunity { margin: 0 0 40px;
      a {  padding: 30px 15px;
        span {
          &.letter { font-size: 50px; line-height: 1;
            margin-bottom: 0;  }

          &.title { font-size: 16px;  }
        }

        svg {
          path {  }
        }

        &:last-of-type { }

        &:hover, &.is-active {
          span {  }
          svg {
            path {  }
          }
        }

        &:hover {
          svg { }
        }
      }
    }
  }
}

.c-header-lines {
  .inner { padding: 20px;
    span { font-size: 20px; }
    svg{
      height: 20px; width: auto;
    }
  }

  &.is-green {
    .inner {  }
  }

  &.has-margin {  }
}

.c-scroll { margin: 30px 0 0;}

.c-togglers {
  &__header { padding: 20px; }
  .c-toggler {
    &__header {  padding: 20px;
    }

    &__content { padding: 20px; }
  }
}

.c-ss {
  &--latest { margin: 50px 0 0;
    .u-ss {  }

    .c-card {
      &__image {  }
      &__title {
        a.title { font-size: 20px; line-height: 25px; }
      }
      &__box {  }
      &:after {  }
      &:before {  content: "";
        width: 1px;
        height: 100%;
        background-color: $green;
        position: absolute;
        top: 0;
        left: 0; }
    }

    .slick-list { margin: 0; }
    .slick-track {  }
    .slick-slide {
      & > div {
        .c-card {  }
      }
    }
  }
}

.c-organisers {  padding: 20px;
  &__title { margin: 0 0 20px; }

  .u-cols {
    flex-direction: row !important;
    .u-col {
      &--left { width: 20% !important;
        img {  max-width: 100%; }
      }

        &--right {  width: 78% !important;
        a { font-size: 20px; line-height: 25px; margin: 0 0 15px; f
          svg { width: 20px; height: 20px;
          }
        }
      }
    }
  }
}

.c-bio {
  &__header {
    .u-cols { flex-direction: row !important;
      .u-col { padding: 20px; width: 50% !important;
        &--left {
          h3 {  }
          svg { width: 20px; height: 20px;
          }
        }
      }

      &:before { content: ""; width: 1px; height: 100%; background-color: $white; position: absolute; top: 0; left: 0; right: 0; margin: auto; }
    }
  }

  &__body { padding: 20px;
    .u-cols {
      .u-col {
        &--left{margin-bottom: 20px;
          img{ max-width: 200px !important; margin: 0 auto; }
        }

      }
    }
  }
}

.c-navbars {
  &--blog {
    .c-nav-blog {

      .c-cats {
        .c-cat { padding: 20px;
        }
      }
    }
  }
}

.c-box {
  &__title { padding: 20px; width: 100%; }

  &__content {  padding: 20px;
    a{}
  }

  &__heading { margin: 0 0 50px; }

  .u-cols {
    .u-col { width: 50%; display: flex; flex-direction: column;
      .c-box__title { width: 100%; }

      &--left {
        .c-box__title, .c-box__content { border-right: 1px solid $green; }
      }

      &--right {
        .c-box__title, .c-box__content { border-left: 1px solid $green; }
      }
    }

    &.bx {
      &--equal {
        .c-box {
          &__content {  }
        }
      }

      &--unset {
        .u-col {
          &--left {
            .c-box__title, .c-box__content { border-right: 1px solid $green; }
          }

          &--right {
            .c-box__title, .c-box__content { border-left: 1px solid $green; }
          }
        }

        &:before { display: none; }
      }
    }
  }

  .c-atlet {
    a { margin: 0; @include flex-center; justify-content: space-between; transition: 0.3s; padding: 10px 0; font-size: 1.15rem;
      svg { width: 20px; height: 20px; transition: 0.3s;
        path { fill: $green; }
      }

      &:last-of-type { margin: 0; }

      &:hover { color: $orange;
        svg { transform: translate(6px,0);
          path { fill: $orange; }
        }
      }
    }
  }


  &--nextstep {
    .c-box {
      &__content { @include flex-center; justify-content: space-between; }
      &__button { width: 100%; margin: 0 0 0 50px; }
    }
  }

  &--nextstep {
    .c-box {
      &__content { flex-direction: column; gap: 10px;
      }
      &__button {  flex:1 0 100%; margin: 0; }
    }
  }
}

.c-sh { margin: 0 0 5px;
  &__title { margin: 0 0 30px;
    &.lg { font-size: 30px; line-height: 1em; }
  }
}

.c-nutrition {
  &__title {  margin-top: 50px;}

  .inner {  }

  .c-items {
    .c-item {  padding: 30px 20px;
      &:first-of-type {
        &:before {  }
      }

      &:after {  }

      &__icon {  margin: 0 10px 0 0; svg{width: 25px; height: auto; }}

      &__title {
        span { display: block; font-weight: 700; font-size: 14px;
          &:last-of-type { font-size: 18px; line-height: 22px; margin: 5px 0 0; }
        }
      }
    }
  }
}

.c-ttogglers .u-cols .u-col--left {
  width: 100%;
  position: relative;
  top: 0;
}