.c-card {
    &--text { width: 45%; margin: 0 0 80px;
        .c-card {
            &__title { font-size: 72px; line-height: 72px; font-weight: 800; display: block; margin: 0 0 40px; }
        }
    }

    &--benefit { width: 100%; display: flex;
        .c-card {
            &__icon { flex: none; margin: 0 30px 0 0; }
            &__meta {
                &-title { font-size: 24px; font-weight: 700; display: block; margin: 0 0 30px; min-height: 60px; }
                &-text {
                    p { font-size: 16px; line-height: 24px; }
                }
            }
        }
    }

    &--blog { padding: 40px; box-sizing: border-box;  position: relative; display: flex;
        flex-direction: column;
        justify-content: space-between;
        .c-card {


            &__box { display: flex; justify-content: space-between;
                 }
            &__image { width: 50%; flex: none; }
            &__title { width: 50%; padding-left: 25px; box-sizing: border-box; display: flex; flex-direction: column; 
                a.title { line-height: 26px; }
            }

            &__footer{
                display: flex; justify-content: space-between; align-items: flex-end;
                &_cat{ max-width: 50%; bottom: 40px; left: 40px; }
                a.url { margin-left: auto; @include flex-center; position: relative;
                    svg { width: 20px; height: 20px; margin: 0 0 0 10px; transition: 0.3s;
                        path { fill: var(--tra-primary-color); }
                    }

                    &:hover {
                        svg { transform: translate(10px,0); }
                    }
                }
            }



            &__header { display: flex; justify-content: space-between; margin: 0 0 40px; }
        }

    } 

    &--camp { width: 47%; display: flex; flex-direction: column;
        .c-card {
            &__image { height: 345px; display: flex; flex: none; margin: 0 0 50px; position: relative;
                img { @include object-fit; position: relative; z-index: 9; transition: 0.3s; }

                &:after { content: ""; position: absolute; top: 20px; left: 20px; border: 1px solid var(--tra-primary-color); width: 100%; height: 100%; transition: 0.3s; }
            }

            &__meta { padding: 0 0 0 40px; box-sizing: border-box; display: flex; flex-direction: column; height:100%;
                &-header { margin: 0 0 28px; span{ &:last-of-type { text-align: right;} } }
                &-title { font-size: 30px; font-weight: 700; margin: 0 0 34px; display: block; }
                &-button { margin-top: auto; }
            }
        }

        &:hover {
            .c-card {
                &__image {
                    &:after { background-color: var(--tra-primary-color); }
                }
            }
        }
    }

    &--partner { width: 33.33333333%; position: relative;
        a { position: relative; margin: auto; @include flex-center; flex-direction: column; gap: 20px; padding: 20px 20px 50px;justify-content: center; border-right: 1px solid var(--tra-primary-color); border-bottom: 1px solid var(--tra-primary-color);
            img { transition: 0.3s; max-height: 150px; }

            svg { position: absolute; display: block;  width: 40px; height: 40px;  right: 20px; bottom: 20px; transition: 0.3s;
                path { fill: var(--tra-primary-color); }
            }

            &:hover {
                img { opacity: 0.5; }

                svg { transform: translate(10px,0); }
            }
        }

        //&:before { content: ""; width: 1px; height: 100%; background-color: var(--tra-primary-color); position: absolute; left: 0; }
        //
        //&:nth-child(3n) {
        //    &:after { content: ""; width: 1px; height: 100%; background-color: var(--tra-primary-color); position: absolute; right: 0; }
        //}
    }

    &--person { width: 100%; margin-bottom: 60px; position: relative; color: var(--tra-light-color);
        .c-card {
            &__image { height: 345px; position: relative; 
                &:after { content: ""; width: 100%; height: 100%; border: 1px solid var(--tra-light-color); position: absolute; top: 10px; left: 10px; transition: 0.3s; }
                
                img { @include object-fit; filter: grayscale(1); position: relative; z-index: 9; transition: 0.3s; }

                a { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #f9f9f9; display: flex; z-index: 9;}
            }

            &__meta { margin: 40px 0 0; transition: 0.3s;
                &-name { display: flex; 
                    svg { width: 30px; height: 30px; margin: 5px 30px 0 0; 
                        path { fill: var(--tra-light-color); }
                    }

                    span { display: block; font-weight: 400;
                        &:last-of-type { font-weight: 700; }
                    }
                }
            }
        }

        &:hover {
            .c-card {
                &__image {
                    &:after { background-color: var(--tra-secondary-color); border-color: var(--tra-secondary-color); }
                    img { filter: grayscale(0); }
                }

                &__meta { transform: translate(30px, 0); color: var(--tra-secondary-color);
                    svg {
                        path { fill: var(--tra-secondary-color); }
                    }
                }
            }
        }
    }

    &--plan { position: relative; width: 100%; display: flex; flex-direction: column;
        .inner { padding: 50px; box-sizing: border-box; position: relative; display: flex; flex-direction: column; justify-content: space-between;
            &:last-of-type { border-bottom: 1px solid var(--tra-primary-color); }

            &:after { content: ""; width: 1px; height: 100%; background-color: var(--tra-primary-color); position: absolute; top: 0; right: 0; }

            &--includes { border-top: 1px solid var(--tra-primary-color); height: 100%; }
        }

        .c-card {
            &__header { margin: 0 0 50px;
                span { display: block;
                    &.name { font-size: 16px; margin: 0 0 5px; }
                    &.tagline { font-size: 24px; font-weight: 700; }
                }
            }

            &__text { margin: 0 0 60px;
                p { font-size: 16px; line-height: 24px; }
            }

            &__includes {
                h4 { margin: 0 0 20px; }

                ul { @include reset-list; 
                    li { margin: 0 0 20px; display: flex; font-size: 16px;
                        svg { margin: 7px 20px 0  0; flex: none; }
                        &:last-of-type { margin: 0; }
                    }
                }
            }

            &__footer { display: flex; align-items: flex-end; flex-direction: column;
                .price { display: flex; flex-direction: column; align-items: flex-end;
                    span {
                        &:last-of-type { display: flex; align-items: flex-start; }
                    }
                    strong { font-size: 34px; height: 34px; font-weight: 900; margin: 0 6px 0 0; }
                    sup { font-size: 18px; line-height: 32px; }
                }

                .btn { margin-top: 20px; padding: 14px 30px; text-transform: initial; }
            }
        }
    }

    &--testimonial { border: 1px solid var(--tra-light-color);
        .c-card {
            &__header { padding: 0 40px; box-sizing: border-box; border-bottom: 1px solid var(--tra-light-color); @include flex-center; justify-content: space-between;
                a { padding: 40px 0; box-sizing: border-box; border-left: 1px solid var(--tra-light-color); padding-left: 40px; }
            }

            &__text { padding: 40px; box-sizing: border-box; }
        }

        &.v2 { width: 100%; border: none; box-sizing: border-box; transition: 0.3s;
            .u-cols { display: flex;
                .u-col { width: 50%; 
                    &--right { padding: 0 20px; box-sizing: border-box; display: flex; flex-direction: column; }
                }
            }

            .inner{display: flex; flex-direction: column; justify-content: space-between; gap: 40px; padding: 40px;}

            .c-card {

                &__head{ display: flex; justify-content: space-between; }
                &__date{ dispay: block; text-align: right; }
                &__box{ display: flex; gap: 25px;
                    .u-col{
                        &--left{ width: 50%; }
                        &--right{ display: flex; flex-direction: column; justify-content: space-between; width: 50%; }
                    }
                }
                &__image { width: 50px;
                    img{  aspect-ratio: 9/6; object-fit:cover; vertical-align: top; }
                }
                &__title { font-weight: 700; font-size: 24px; }
                &__url { margin-top: auto; margin-left: auto; }
            }

            &:hover { background-color: var(--tra-primary-color); color: var(--tra-light-color);
                a { color: var(--tra-light-color); }
                svg {
                    path { fill: var(--tra-light-color); }
                }
            }
        }
    }

    &--single-member-header{
        &.is-coach{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .c-text { display: flex; flex-direction: column; height: 100%;
                &__title { padding-right: 40px; box-sizing: border-box; text-transform: lowercase; }
                &__content { padding: 40px; box-sizing: border-box; border: 1px solid var(--tra-primary-color); margin: 50px 0 0; height: 100%; }
                &__image { position: relative;
                    img { @include object-fit; width: 100%; }
                    .u-play { position: absolute; top: 20px; left: 20px; width: 65px; height: 65px; background-color: var(--tra-secondary-color); border-radius: 50%; z-index: 9; @include flex-center; justify-content: center; transition: 0.3s;
                        svg { width: 45px; height: 45px; margin: 0 0 0 3px;
                            path { fill: var(--tra-light-color); }
                        }

                        &:hover { background-color: var(--tra-primary-color); }
                    }
                }
            }

            .c-details { border-right: 1px solid var(--tra-primary-color);
                button{font-size: 1.125rem; width: 100%; border: none; cursor: pointer; font-family:$font-c1; outline: none; }
                span, a, button { padding: 40px; box-sizing: border-box; display: flex; }
                a, button{ background-color: var(--tra-primary-color); color: var(--tra-light-color); text-transform: uppercase; font-weight: 700; transition: 0.3s; @include flex-center; justify-content: space-between;
                    svg { width: 30px; height: 30px; transition: 0.3s;
                        path { fill: var(--tra-light-color); }
                    }

                    &:hover { background-color: var(--tra-secondary-color);
                        svg { transform: translate(10px,0);}
                    }
                }

                .c-detail { border-bottom: 1px solid var(--tra-primary-color);
                    &--certificates { @include flex-center; justify-content: space-between;
                        .c-logos { display: flex; margin: 0 40px 0 0;
                            img{ height: 70px; width: auto;}
                        }
                    }
                }
            }
        }
    }
}

.c-cards {
    &--blog { border: 1px solid var(--tra-primary-color); display: grid; grid-template-columns: repeat(2, 1fr); grid-template-areas:  "c1 c2" "c1 c3" "c4 c4" "c5 c6" "c7 c7";

        .c-card {
            width: 100%;
            margin-left: auto;

            &--blog {
                position: relative;

                &-item-1 {
                    grid-area: c1;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    border-right: 1px solid var(--tra-primary-color);
                    .c-card {
                        &__header{ margin: 0;}
                        &__box { flex-direction: column; height: 100%; justify-content: flex-start; gap: 40px; }
                        &__image { width: 100%;
                            img { height: 100%; object-fit: cover; }
                        }
                        &__title { padding-left: 0;  width: 100%; height: 50%; display: flex; flex-direction: column; justify-content: space-between;
                            a.title { font-size: 24px; line-height: 30px; }
                        }
                    }
                }

                &-item-2 {
                    grid-area: c2;
                    border-bottom: 1px solid var(--tra-primary-color);
                }

                &-item-3 {
                    grid-area: c3;
                }

                &-item-4 {
                    grid-area: c4;
                    border-top: 1px solid var(--tra-primary-color);
                    .c-card {
                        &__box {  }
                        &__image { display: none;
                        }
                        &__title { padding-left: 0; width: 100%; height: 100%;
                            a.title { font-size: 24px; width: 60%; line-height: 30px; }
                        }
                    }

                    &[data-total-posts="5"]{
                        border-bottom: 1px solid var(--tra-primary-color);
                    }
                }

                &-item-5 {
                    grid-area: c5;
                    border-right: 1px solid var(--tra-primary-color);
                    &:not([data-total-posts="5"]){
                        border-top: 1px solid var(--tra-primary-color);
                    }

                    .c-card {
                        &__box {  }
                        &__image { display: none;
                        }
                        &__title { padding-left: 0; width: 100%; height: 100%;
                            a.title {  }
                        }
                    }
                }

                &-item-6 {
                    grid-area: c6;
                    border-top: 1px solid var(--tra-primary-color);
                }

                &-item-7 {
                    grid-area: c7;
                    border-top: 1px solid var(--tra-primary-color);
                    .c-card {
                        &__box {  }
                        &__image { display: none;
                        }
                        &__title { padding-left: 0;  width: 100%; height: 100%;
                            a.title { font-size: 24px; width: 60%; line-height: 30px;  }
                        }
                    }
                }
            }
        }
    }

    &--camp {
        padding-right: 22px;
        .row { width:100%; display: flex; flex-wrap: wrap; justify-content: space-between; border-bottom: 1px solid var(--tra-primary-color); margin-bottom: 40px; padding-bottom: 40px;  }
    }

    &--text { margin: 0 0 -80px; }
    
    &--partners { border-top: 1px solid var(--tra-primary-color); border-left: 1px solid var(--tra-primary-color);
        .row { width: 100%; display: flex;
            &.is-last {
                .c-card {
                    &:last-child { &:after { content: ""; width: 1px; height: 100%; background-color: var(--tra-primary-color); position: absolute; right: -1px; } }
                }
            }
        }
    }

    &--benefits {
        display: grid; grid-template-columns: repeat( 4, 1fr); gap: 10px;
    }

    &--person { margin: 0; display: grid; grid-template-columns: repeat( 4, 1fr); gap: 30px; padding-right: 12px;
        &.is-active { display: flex; }
    }

    &--plans { border-top: 1px solid var(--tra-primary-color); border-left: 1px solid var(--tra-primary-color); display: grid; grid-template-columns: repeat( 3, 1fr); }

    &--testimonials { display: grid; grid-template-columns: repeat( 2, 1fr); grid-template-areas: "c1 c2" "c1 c3" "c4 c5" "c6 c7" "c8 c9" "c10 c11"; border: 1px solid var(--tra-primary-color);
        .c-card { margin-left: auto;
            border-bottom: 1px solid var(--tra-primary-color);


            &:first-of-type{ grid-area: c1;  }
            &:nth-of-type(2){grid-area: c2;}
            &:nth-of-type(3){grid-area: c3; }
            &:nth-of-type(4){grid-area: c4;}
            &:nth-of-type(5){grid-area: c5; }
            &:nth-of-type(6){grid-area: c6;  }
            &:nth-of-type(7){grid-area: c7;}
            &:nth-of-type(8){grid-area: c8; }
            &:nth-of-type(9){grid-area: c9;}
            &:nth-of-type(10){grid-area: c10; }
            &:nth-of-type(11){grid-area: c11;}
            &:nth-of-type(n+3):nth-of-type(even){border-right: 1px solid var(--tra-primary-color); }

            &:last-of-type{ border-bottom: none;}
            &:nth-last-of-type(2):nth-of-type(even){ border-bottom: none;}
            &:first-of-type {border-right: 1px solid var(--tra-primary-color);


                .inner { height: 100%;
                    .c-card{
                        &__box{ flex-direction: column; height: calc(100% - 61px);
                            .u-col{
                                &--left{ width: 100% !important; }
                                &--right{ width: 100% !important; height: 100%;}
                            }
                        }


                    }
                }
            }
        }
    }
}