
.c-headroom { margin: 0 0 100px; position: fixed; top: 0; left: 0; width: 100%;
    &:after { content: ""; width: calc(100% - 1090px); height: 1px; background-color: var(--tra-primary-color); position: absolute; bottom: 0; right: 0; transition: 0.3s; }

    &.is-scrolled, &.menu-opened { background-color: var(--tra-light-color); z-index: 9999;
        .c-header {
            &__logo { background-color: var(--tra-light-color);
                a { 
                    padding: 0; margin: 0;
                    svg { width: 100px; }
                }
            }

            &:after { opacity: 0; }
        }

        &:after { width: 0; }
    }

}

.c-header { position: relative; z-index: 9;
    .u-cols { width: 100%; 
        .u-col {
            &--right { @include flex-center; }
        }
    }

    &__logo {
        a { display: block; padding-top: 60px; margin-bottom: -60px; transition: 0.3s; }
    }

    &__burger { @include flex-center; margin: 0 30px 0 0; position: relative; z-index: 999;
        span { color: var(--tra-primary-color); font-weight: 500; margin: 0 20px 0 0; }
    }

    &:after { content: ""; width: calc(100% - 167px); height: 1px; background-color: var(--tra-primary-color); position: absolute; bottom: 0; right: 0; transition: 0.1s; }
}   

.c-mmenu { position: fixed; height: 100vh; top: 0; padding-top: calc( var(--tra-header-height) + 30px); left: 0; width: 100%; @include flex-center; transition: 0.3s; visibility: hidden; opacity: 0; background: url("assets/img/pattern.png"); background-color: var(--tra-light-color); overflow-y: auto;
    ul { @include reset-list;
        &.menu{
            position: fixed;
            top: calc( var(--tra-header-height) + 10px);
            height: calc( 100vh - var(--tra-header-height) );
            overflow-y: auto;
            padding-right: 15px;
            margin-right: -15px;
            padding-bottom: 80px;

            > li{
                &:not(.menu-item-has-children){
                    margin-bottom: 45px
                }
            }
        }


        li { font-size: 36px; font-weight: 700; margin: 0 0 20px;

            ul { display: flex; margin: 20px 0 0; flex-wrap: wrap;
                li { font-size: 18px; font-weight: 600; margin: 0 20px 15px 0;
                    a { text-decoration: none; }
                }
            }

            a { text-decoration: underline; transition: 0.3s; 
                &:hover { color: var(--tra-secondary-color); svg{ path{ fill: var(--tra-secondary-color) !important } } }
            }

            &.menu-item-has-children { display: flex; flex-direction: column;
                   > a  svg { width: 20px; height: 20px; transform: rotate(-90deg); margin: 0 0 0 10px;
                    > path { fill: var(--tra-secondary-color); }
                }
            }

            &.current-menu-item {
                > a { color: var(--tra-secondary-color); }
            }
        }

        &.sub-menu {
            max-width: 700px;
            width: 100%;

            > li {
                > a svg {
                    width: 15px;
                    height: 15px;
                    transform: rotate(-90deg);
                    margin: 0 0 0 10px;

                    > path {
                        fill: var(--tra-primary-color);
                    }
                }

                &.current-menu-item {
                    > a svg path{
                        fill: var(--tra-secondary-color);
                    }
                }
            }


        }

    }

    .inner { width: 100%; }

    &.is-active { visibility: visible; opacity: 1; }
}