body { background: url('assets/img/pattern.png'); }

.c-main { transition: 0.3s; opacity: 1; padding-top: 124px;
    &.is-hidden { visibility: hidden; opacity: 0; }
}

.u-table { border: 1px solid $white; border-top: none;
    &-row { display: flex;
        &:after { content: ""; position: absolute; left: -50%; width: 1000%; height: 1px; background-color: $white; }
    }

    &-column { width: 25%; position: relative; padding: 40px;
        &:after { content: ""; width: 1px; height: 100%; background-color: $white; position: absolute; top: 0; right: 0; }
        &:last-of-type {
            &:after { content: none; }
        }

        &.is-full { width: 100%; }

        &.has-logo { position: relative; display: flex; align-items: center; justify-content: center;
            svg { position: relative; }
        }

        &.has-button { position: relative; display: flex; justify-content: center; align-items: center; margin: auto;
            a {  }
        }

        &.has-cta { position: relative; width: 60%;
            .c-cta {  box-sizing: border-box;
                &__title { display: block; font-size: 30px; font-weight: 700; margin: 0 0 10px; }
            }

            .u-form { margin: 40px 0 0; }
        }
    }

    .u-text { color: $white; position: relative; width: 100%; height: 100%;  box-sizing: border-box; display: flex; justify-content: flex-start; flex-direction: column;
        span { display: block; 
            &.title { font-weight: 700; font-size: 24px; line-height: 34px; margin: 0 0 25px; }
            &.text { font-weight: 400; line-height: 30px; }
        }
    }
}

.c-scroll { display: flex; flex-direction: column; margin: 60px 0 0; 
    svg { transform: rotate(90deg); margin: 20px 0 0; width: 30px; display: flex;
        path { fill: $green; }
    }
}


.module {
    &--ph {
        .c-text {
            &__title { color: $green; font-weight: 900;
                &.lg { font-size: 7.5vw; line-height: 7.5vw; }
                &.is-single { font-size: 48px; line-height: 58px; max-width: 80%; }
            }
        }

        &.is-athlete {
            .u-cols {
                .u-col { width: 50%; 
                    &--left { display: flex; flex-direction: column; 
                        .c-details { 
                            &.inner { margin-top: auto; display: flex; flex-wrap: wrap; border: 1px solid $green; border-bottom: none; border-right: none;
                                .c-details__item { width: 50%; border-bottom: 1px solid $green; position: relative; padding: 40px 30px; box-sizing: border-box;
                                    &:after { content: ""; width: 1px; height: 100%; position: absolute; right: 0; top: 0; background-color: $green; }
                                }
                            }
                        }
                    }
                }
            }

            .c-details {
                &.outer { display: flex; flex-wrap: wrap; border-left: 1px solid $green;
                    .c-details__item { width: 50%; border-bottom: 1px solid $green; position: relative; padding: 40px 30px; box-sizing: border-box;
                        &:after { content: ""; width: 1px; height: 100%; position: absolute; right: 0; top: 0; background-color: $green; }
                    }
                }
            }

            .c-text {
                &__title { text-transform: lowercase; max-width: 50%;  }

                &__image { position: relative; min-height: 630px;
                    img { @include object-fit; position: absolute; top: 0; left: 0; }
                    .u-play { position: absolute; top: 20px; left: 20px; width: 65px; height: 65px; background-color: $orange; border-radius: 50%; z-index: 9; @include flex-center; justify-content: center; transition: 0.3s;
                        svg { width: 45px; height: 45px; margin: 0 0 0 3px; 
                            path { fill: $white; }
                        }

                        &:hover { background-color: $green; }
                    }
                }
            }
        }

        &.is-coach {
            .u-cols {
                .u-col { width: 50%; }
            }

            .c-text { display: flex; flex-direction: column; height: 100%;
                &__title { padding-right: 40px; box-sizing: border-box; text-transform: lowercase; }
                &__content { padding: 40px; box-sizing: border-box; border: 1px solid $green; margin: 50px 0 0; height: 100%; }
                &__image { position: relative; min-height: 630px;
                    img { @include object-fit; position: absolute; top: 0; left: 0; }
                    .u-play { position: absolute; top: 20px; left: 20px; width: 65px; height: 65px; background-color: $orange; border-radius: 50%; z-index: 9; @include flex-center; justify-content: center; transition: 0.3s;
                        svg { width: 45px; height: 45px; margin: 0 0 0 3px; 
                            path { fill: $white; }
                        }

                        &:hover { background-color: $green; }
                    }
                }
            }

            .c-details { border-right: 1px solid $green;
                button{font-size: 1.125rem; width: 100%; border: none; cursor: pointer; font-family:$font-c1; outline: none; }
                span, a, button { padding: 40px; box-sizing: border-box; display: flex; }
                a, button{ background-color: $green; color: $white; text-transform: uppercase; font-weight: 700; transition: 0.3s; @include flex-center; justify-content: space-between;
                    svg { width: 30px; height: 30px; transition: 0.3s;
                        path { fill: $white; }
                    }

                    &:hover { background-color: $orange; 
                        svg { transform: translate(10px,0);}
                    }
                }

                .c-detail { border-bottom: 1px solid $green; 
                    &--certificates { @include flex-center; justify-content: space-between;
                        .c-logos { display: flex; margin: 0 40px 0 0; }
                    }
                }
            }
        }
    }

    &--plans{
        .c-plans{
            border: none;


            &__cards{
                display: none;
            }

            &:last-of-type{
                .c-header-lines{border-bottom: 1px solid $green;}

            }
            &:first-child{
                .c-header-lines{border-top: 1px solid $green;}
            }

            .c-header-lines{
                user-select: none;
                .inner{
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    border-bottom: 1px solid transparent;

                    svg{
                        fill: #fff;
                        transform: rotate(-90deg);
                        transition: transform .15s linear;
                        transform-origin: 50% 50%;
                    }
                }
            }

            &:not(.is-active):not(:last-child){
                .c-header-lines{
                    border-bottom: none;
                    .inner{
                        border-bottom: 1px solid $white;
                    }
                }
            }
            &.is-active{

                .c-plans{
                    &__cards{
                        display: block;
                    }
                }
                .c-header-lines{
                    .inner{
                        svg{
                            transform: rotate(0deg);
                        }
                    }
                }
            }

        }
    }
    &--camps {
        .u-cols {
            .u-col { width: 50%; }

            &--main { border: 1px solid $white; 
                .u-col {
                    &--left { position: relative;
                        &:after { content: ""; width: 1px; height: 100%; background-color: $white; position: absolute; top: 0; right: 0; }
                    }

                    &--right { position: relative;  }
                }
            }
        }   

        .c-camps { margin: 0 0 100px; 
            .c-camp {
                &__image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 40px; box-sizing: border-box;
                    img { @include object-fit; }
                }
            }
        }

        .c-station {
            &__header { padding: 40px; box-sizing: border-box; 
                span { font-size: 20px; font-weight: 700; line-height: 30px; }
                a { font-size: 20px; line-height: 30px; text-decoration: underline; color: $white; }
            }

            &__meta { padding: 40px; box-sizing: border-box; border-top: 1px solid $white; 
                &-title { margin: 0 0 30px; }
            }

            &__footer {
                .u-cols {
                    .u-col { height: 100px; @include flex-center; justify-content: center;
                        &--left { border-top: 1px solid $white; 
                            span { text-transform: uppercase; }
                        }

                        &--right {
                            svg { width: 40px; height: 40px; 
                                path { fill: $white; }
                            }
                        }
                    }
                }
            }
        }
    }

    &--benefits {
        &.has-togglers { border-top: 1px solid $green;
            .u-cols { border: 1px solid $green; border-top: none; display: flex; position: relative; align-items: flex-start;
                &.has-image {
                    .u-col { width: 50%; 
                        &--left { position: absolute; top: 0; left: 0; height: 100%;
                            img { width: 100%; height: 100%; object-fit: contain; object-position: center; max-width: 350px; margin: auto; }
                        }
                        &--right { position: relative; margin-left: auto;
                            &:before { content: ""; width: 1px; height: 100%; background-color: $green; position: absolute; top: 0; left: 0; }
                        }
                    }
                }
            }
        }
    }

    &--faqs { 
        .c-togglers { border: 1px solid $green; 
            &__header { padding: 40px; }
            .c-toggler {
                &__header { padding: 40px; }
                &__content { padding: 30px 40px; }
            }
        }
    }

    &--comments { visibility: hidden;

        &.is-logged {
            .inner {
                .row { width: 100%;
                    &--right {
                        .comment-form-comment { height: 250px; }
                    }

                    &::before { background-color: transparent; }
                }
            }

            .row {
                &--bottom { justify-content: flex-end; }
            }

            .logged-in-as { display: none; }
        }
        
        &.is-visible { visibility: visible; }

        h3.comment-reply-title { font-weight: 700; margin: 0 0 30px; }
        
        h3#comments { border-top: 1px solid $green; border-bottom: 1px solid $green; padding: 20px 0; }

        form {
            .comment-notes { display: none; }
            label { display: none; }
        }

        .commentlist { @include reset-list;  margin: 0 0 40px;
            .comment { border-bottom: 1px solid $green; padding: 40px 0; 
                .reply { display: none; }
                .comment-meta, .comment-author, .comment-body { display: none; }
                .u-cols { display: flex; justify-content: space-between;
                    .u-col {
                        &--left { width: 30%; 
                            .author { display: flex;
                                &-avatar { margin: 0 20px 0 0; }
                                &-meta {
                                    span { display: block; line-height: 24px; 
                                        &:last-of-type { font-weight: 700; }
                                    }
                                }
                            }
                        }

                        &--right { width: 60%; }
                    }
                }
            }
        }

        .inner { display: flex; flex-wrap: wrap; border: 1px solid $green;
            .row {
                &--left { order: -1; width: 40%; 
                    p { border-bottom: 1px solid $green; 
                        &:last-of-type { border: none; }
                    }

                    input { border: none; background-color: transparent; width: 100%; 
                        &:focus { outline: none; background-color: $green; color: $white; 
                            &::-webkit-input-placeholder {  color: $white; }
                            &::-moz-placeholder { color: $white; }
                            &:-ms-input-placeholder { color: $white; }
                            &:-moz-placeholder { color: $white; }    
                        }
                    }
                }

                &--right { position: relative; width: 60%;
                    &:before { content: ""; position: absolute; top: 0; left: 0; width: 1px; height: 100%; background-color: $green; }
                    textarea { width: 100%; height:100%; position: absolute; top: 0; left: 0;  border: none; background-color: transparent; 
                        &:focus { outline: none; background-color: $green; color: $white; 
                            &::-webkit-input-placeholder {  color: $white; }
                            &::-moz-placeholder { color: $white; }
                            &:-ms-input-placeholder { color: $white; }
                            &:-moz-placeholder { color: $white; }    
                        }
                    }
                }
            }
        }

        .row {
            &--bottom { display: flex; justify-content: space-between; align-items: center;
                label { display: flex!important; }

                p {
                    &.form-submit {
                        input { border: 1px solid $green; border-top: none; background-color: transparent; text-transform: uppercase; font-weight: 600; cursor: pointer; 
                            &:hover { background-color: $green; color: $white; }
                        }
                    }
                }

                p {
                    &.comment-form-cookies-consent { display: flex; width: 40%; line-height: 24px; }
                }
            }
        }
    }

    &--cta {
        .c-cta { border: 1px solid $green; padding: 40px; box-sizing: border-box; 
            .u-cols { align-items: flex-end;
                .u-col {
                    &--left { width: 65%; }
                    &--right { flex: none; margin: 0 0 0 100px; }
                }
            }

            &__meta {
                &-title { margin: 0 0 40px; }
            }

            &--contact {
                .u-cols { align-items: center; }

                .c-cta {
                    &__meta { @include flex-center; 
                        &-title { margin: 0; }
                    }
                    &__icon { max-width: 120px; margin: 0 40px 0 0; }
                }
            }
        }
    }

    &--story { overflow: hidden; }

    &--comunity { border-top: 1px solid $green; padding-bottom: 100px; background-color: $white;
        .inner {
            .u-cols { border-left: 1px solid $green; border-right: 1px solid $green; border-bottom: 1px solid $green; 
                .u-col { width: 50%; box-sizing: border-box; 
                    &--left { border-right: 1px solid $green; padding: 40px; }
                    &--right { padding: 0 80px 60px; display: flex; flex-direction: column;
                        img { margin: 0 auto 60px; }

                        .c-button { margin-top: auto; }
                    }
                }
            }

            .c-links { margin: 40px 0 0;
                ul { @include reset-list; 
                    li { margin: 0 0 20px;
                        a { width: 122px; justify-content: space-between; 
                            svg { margin: 0; }
                        }
                        &:last-of-type { margin: 0; }
                    }
                }
            }
        }

        .module-header { position: relative; display: flex; border-bottom: 1px solid $green;
            &:before { content: ""; width: 50%; height: 100%; background-color: $white; position: absolute; left: 0; border-right: 1px solid $green; }
            &:after { content: ""; width: 50%; height: 100%; background-color: $green; position: absolute; right: 0; }

            .u-cols {
                .u-col {
                    &--left { padding: 40px; box-sizing: border-box; border-left: 1px solid $green; border-right: 1px solid $green; width: 50%; }
                }
            }
        }
    }

    &--trainingplan {
        .module {
            &__heading { margin: 0 0 50px; }
        }

        .c-plan {
            &-header { border-top: 1px solid $green; border-bottom: 1px solid $green; }

            .c-nav { display: inline-flex; justify-content: space-between; width: 100%;
                &--coaches{
                    border-bottom: 1px solid;
                }
                &__item { padding: 40px; box-sizing: border-box; display: flex; position: relative; width: 33.33333333%; font-size: 24px; font-weight: 700; transition: 0.3s;
                    &:after { content: ""; width: 1px; height: 100%; background-color: $green; position: absolute; right: 0; top: 0; }

                    &:first-of-type {
                        &:before { content: ""; width: 1px; height: 100%; background-color: $green; position: absolute; left: 0; top: 0; }
                    }

                    &.is-active, &:hover { background-color: $green; color: $white; }
                }
            }

            &-content { border: 1px solid $green; border-top: none; padding: 40px; box-sizing: border-box; display: none;
                .u-cols { display: flex; justify-content: space-between;
                    .u-col {
                        &--left { width: 30%; flex: none; }
                        &--right { width: 66%; }
                    }
                }

                &.is-active{ display:block;}
                //&:first-of-type { display: block; }
            }

            &-features { margin: 0 0 50px;
                .c-features { display: flex; flex-wrap: wrap; margin-right: -4%;
                    .c-feature { width: 30%; margin-right: 3%!important; margin: 0 0 30px; display: flex; 
                        &__icon { flex: none; margin: 0 15px 0 0;
                            svg { width: 40px; height: 40px; display: flex; }
                        }

                        &__text {
                            span { font-weight: 600; font-size: 15px; line-height: 24px; }
                        }
                    }
                }
            }

            &-meta { display: flex; justify-content: space-between; margin: 0 0 50px;
                &__name { margin: 0 50px 0 0;
                    span { display: block;
                        &:last-of-type { font-size: 30px; font-weight: 800; line-height: 40px; }
                    }
                }
            }

            &-footer { @include flex-center; justify-content: space-between; }

            &.vomaster { border-top: 1px solid $green; }
        }
    }

    &--singlelatest { margin-top: 100px;
        .c-ss__header { margin: 0 0 50px; display: flex; align-items: center; justify-content: space-between; 
            .c-ctrls { margin: 0; 
                svg {
                    path { fill: $green; }
                }
            }
        }
    }

    &--textbox {
        &.bg {
            &--green {
                .c-box {
                    .u-cols {
                        &.bx {
                            &--unset {
                                &:before { background-color: $white; }
                            }
                        }
                    }
                }
            }
        }
    }

    &--textbtn {
        .btn { justify-content: space-between; }
    }

    &--texteditor {
        .u-cols {
            &--even {
                .u-col { width: 46%; }
            }
        }
    }

    &--ti {
        &.is-transparent {
            .u-cols {
                .u-col {
                    &--right {
                        img { margin:  auto; }
                    }
                }
            }
        }

        &.has-bg { position: relative; margin-top: 200px;
            .container { position: unset; }

            .u-cols {
                .u-col {
                    &--left { width: 60%; position: relative; z-index: 9; }
                    &--right { position: absolute; top: 0; right: 0; height: 100%;
                        img { @include object-fit; }

                        &:before { content: ""; width: 100%; height: 137px; position: absolute; top: -137px; right: 0; background-color: $green; }
                    }
                }
            }
        }

        .c-button { display: flex; margin: 40px 0 0; }

        .c-list {
            &__title { margin: 40px 0; }
            a { display: flex; flex-direction: column; margin: 0 0 36px; text-decoration: underline; max-width: 70%; transition: 0.3s;
                svg { width: 30px; height: 30px; margin: 10px 0 0; transition: 0.3s;
                    path { fill: $green; }
                }

                &:hover { opacity: 0.8; 
                    svg { transform: translate(10px,0);}
                }

                &:last-of-type { margin: 0; }
            }
        }
    }

    &--testimonials {
        .c-sh { margin: 0; }
    }

    &--textbanner {
        h2 { font-weight: 900; line-height: 0.9; }
        .u-cols { align-items: flex-end;
            .u-col {
                &--left { width: 40%; }
                &--right { width: 56%; }
            }
        }

    }

    &--usps { border-top: 1px solid $green; border-bottom: 1px solid $green;
        .c-usps { display: grid; grid-template-columns: repeat(auto-fit, minmax(0,1fr) ); aling-items: center; border-left: 1px solid $green; border-right: 1px solid $green;
            .c-usp { display: flex; align-items: center; gap: 5px; padding: 40px; box-sizing: border-box; text-align: left; width: 100%; border-right: 1px solid $green;
                &:last-of-type { border: none; }
            }
        }
    }
}

.c-sh { margin: 0 0 100px;
    &__title { margin: 0 0 30px;
        &.lg { font-size: 10vh; line-height: 10vh; }
    }
}

.c-editor {
    p { margin: 0 0 20px; 
        &:last-of-type { margin: 0; }
    }

    a { text-decoration: underline; }

    blockquote { padding: 40px; border: 1px solid $green; }
}

.c-ss { display: flex; flex-direction: column; 
    &--testimonials {
        .slick-list { margin: 0 -10px; }
        .slick-slide { margin: 0 10px; }

        .c-ctrls { 
            &.to-right { margin-top: 0; margin-right: 0px;
                .c-ctrl { width: 50px; height: 50px; border: 1px solid $white; border-top: none; margin: 0!important; @include flex-center; justify-content: center;
                    svg { width: 15px; height: 15px; }

                    &:last-of-type { border-left: none; }

                    &:hover { background-color: $white; opacity: 1; 
                        svg {
                            path { fill: $green; }
                        }
                    }
                }
            }
        }
    }

    &--latest { margin: 50px 0 0; overflow: hidden;
        .u-ss { border-top: 1px solid $green;  }

        .c-card { position: relative; display: flex!important; flex-direction: column;
            &__image { display: none; }
            &__title { padding: 0; width: 100%; 
                a.title { margin: 0 0 50px; font-size: 30px; line-height: 40px; }
            }
            &__box { height: 100%; }
            &:after { content: ""; width: 1px; height: 100%; background-color: $green; position: absolute; top: 0; right: 0; }
        }

        .slick-list { margin: 0 -216px; }
        .slick-track { display: flex!important;  }
        .slick-slide { height: inherit;
            & > div { height: 100%;
                .c-card { height: 100%; }
            }
        }
    }

    &--partners {
        .u-ss {
            &__slide { display: flex!important; justify-content: center; }
        }
    }

    .c-ctrls { display: inline-flex; margin-top: 25px;
        .c-ctrl { cursor: pointer; transition: 0.3s;
            &--next { margin-left: 6px;
                svg { transform: rotate(180deg);}
            }

            svg { width: 25px; height: 25px; display: flex; }

            &:hover { opacity: 0.5; }
        }

        &.is-white {
            .c-ctrl {
                svg {
                    path { fill: $white; }
                }
            }
        }

        &.to-right { margin-left: auto; }
    }
}

.c-header-lines { border-top: 1px solid $green; border-bottom: 1px solid $green;
    .inner { padding: 40px; box-sizing: border-box; border-left: 1px solid $green; border-right: 1px solid $green; 
        span { display: block; font-size: 30px; font-weight: 700; max-width: 90%;}
    }

    &.is-green {
        .inner { background-color: $green; color: $white; }
    }

    &.has-margin { margin: 0 0 40px; }
}

.c-events { border: 1px solid $white; border-top: none;
    &__header { @include flex-center; justify-content: space-between; border-bottom: 1px solid $white;
        a { box-sizing: border-box; border-left: 1px solid $white; transition: 0.3s; @include flex-center; padding: 40px;
            svg { width: 30px; height: 30px; margin: 0 0 0 15px; transition: 0.3s;
                path { fill: $white; }
            }

            span { text-decoration: underline; }
            
            &:hover { background-color: $white; color: $green; 
                svg { transform: translate(10px,0);
                    path { fill: $green; }
                }
            }
        }

        span {
            &.title { font-size: 30px; line-height: 30px; font-weight: 700; padding: 40px; }
        }
    }

    .c-table {
        &-item {
            border-bottom: none;
            padding: 40px;
            box-sizing: border-box;
            display: grid;
            grid-template-columns:repeat(8, 1fr);
            grid-template-areas: "c1 c2 c2 c2 c3 c3 c4 c4";
            gap: 15px;
            &:last-of-type { border: none; }

            &__date { grid-area: c1; max-width: 100px; font-weight: 700; }
            &__title { grid-area: c2; max-width: 350px; }
            &__location { grid-area: c3; max-width: 200px; }
            &__url {grid-area: c4;  width: 100%; text-transform: uppercase; font-weight: 700; color: $white;
                a { @include flex-center; justify-content: flex-end;
                    svg { width: 25px; height: 25px; margin: 0 0 0 10px; transition: 0.3s;
                        path { fill: $green; }
                    }

                    &:hover {
                        svg { transform: translate(10px,0);}
                    }
                }

                &.is-active {
                    a {
                        svg { transform: rotate(90deg);}
                    }
                }
            }
        }

        &-content { display: none; border-top: 1px solid $green;
            .u-cols { display: flex;
                .u-col { padding: 40px; box-sizing: border-box; 
                    &--right { width: 40%; display: flex; flex-direction: column; 
                        .btn { margin-top: auto; margin-left: auto; }
                    }
                }

                &.has-members {
                    .u-col {
                        &--left { border-right: 1px solid $green; width: 60%; }
                        &--right {
                            a{
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }

        .c-members-tagline { display: block; margin: 0 0 15px; }

        .c-members-list { display: flex; flex-wrap: wrap; margin-right: -6%; 
            &__item { width: 14%; padding-bottom: 14%; position: relative; margin-right: 2%; margin-bottom: 2%; 
                img { position: absolute; top: 0; left: 0; @include object-fit; }
            }
        }

        &-row {
            &:last-of-type { border-bottom: none!important; }
        }
    }

    &.is-green { border-color: $green;
        .c-events {
            &__header { border-color: $green; }
        }

        .c-table {
            &-row { border-bottom: 1px solid $green; }

            &-item {
                &__url { color: $green; }
            }
        }
    }

    &.is-white {
        .c-events {
            &__header {
                a { color: $white; 
                    &:hover { color: $green; }
                }
            }
        }

        .c-table {
            &-row { border-bottom: 1px solid $white; }

            &-item { 
                &__url { 
                    a { color: $white; 
                        svg {
                            path { fill: $white; }
                        }
                    }
                }
            }
        }
    }
}

.c-tabs {
    &-nav {
        &--comunity { margin: 0 0 40px;
            a { width: 33.333333%; color: $white; border: 1px solid $white; border-right: none; padding: 40px; box-sizing: border-box; position: relative; transition: 0.3s;
                span { display: block; opacity: 0.5;
                    &.letter { font-size: 100px; font-weight: 700; margin: 0 0 20px; }
                    
                    &.title { font-size: 30px; font-weight: 700; line-height: 30px; @include flex-center; justify-content: space-between; }
                }

                svg { width: 30px; height: 30px; transition: 0.3s;
                    path { fill: $white; }
                }

                &:last-of-type { border-right: 1px solid $white; }

                &:hover, &.is-active { background-color: $white; color: $green;
                    span { opacity: 1; }
                    svg {
                        path { fill: $green; }
                    }
                }

                &:hover {
                    svg { transform: translate(10px,0);}
                }
            }
        }
    }

    &-content {
        .c-tab-box { display: none;
            &:first-child { display: block; }
        }
    }
}

.c-navbars { margin: 0 0 50px;
    &--blog {
        .c-nav-blog {
            &--categories { border-top: 1px solid $green; border-bottom: 1px solid $green; 
                .c-cats {
                    .c-cat { text-align: center; justify-content: center; }
                }

            }

            &--authors {
                .container { border-bottom: 1px solid $green;
                }
            }
        
            .c-cats { position: relative; display: inline-flex; width: 100%; overflow-y: auto; border-left: 1px solid $green; border-right: 1px solid $green;
                .c-cat { padding: 40px; box-sizing: border-box; display: flex; position: relative; font-weight: 700; transition: 0.3s; white-space: nowrap;
                    &:after { content: ""; width: 1px; height: 100%; background-color: $green; position: absolute; right: 0; top: 0; }
                    //&:first-of-type {
                    //    &:before { content: ""; width: 1px; height: 100%; background-color: $green; position: absolute; left: 0; top: 0; }
                    //}

                    &.is-active, &:hover { background-color: $green; color: $white; }
                }
            }
        }
    }
}

.c-nutrition { 
    &__title { font-size: 30px; line-height: 40px; font-weight: 700; margin: 0 0 40px; display: block; max-width: 300px; margin-top: 117px; }

    .inner { border-top: 1px solid $green;  }

    .c-items { display: inline-flex; width: 100%; border-bottom: 1px solid $green;
        .c-item {  @include flex-center; width: 25%; position: relative; padding: 60px 40px;
            &:first-of-type {
                &:before { content: ""; width: 1px; height: 100%; background-color: $green; position: absolute; left: 0; top: 0; }
            }

            &:after { content: ""; width: 1px; height: 100%; background-color: $green; position: absolute; right: 0; top: 0; }

            &__icon { flex: none; margin: 0 25px 0 0; }

            &__title {
                span { display: block; font-weight: 700;
                    &:last-of-type { font-size: 30px; line-height: 30px; margin: 5px 0 0; }
                }
            }
        }
    }
}

.c-badge {
    &--author { padding: 40px; box-sizing: border-box; 
        .c-badge {
            &__avatar { margin: 0 0 10px; }
            &__meta { margin: 0 0 20px;
                span { display: block; line-height: 30px; }
            }
            &__profile{
                margin-top: 35px;
                a{
                    max-width: 300px;
                    width: 100%;
                    background-color: $green;
                    color: $white;
                    border: 1px solid $white;
                    text-transform: none;

                    &:hover { background-color: $orange;
                        svg { transform: translate(10px,0);}
                    }
                }

            }
        }
    }
}

.c-box {
    &__title { padding: 40px; box-sizing: border-box; border: 1px solid; border-bottom: none; width: 50%; }

    &__content { display: flex; flex-direction: column; justify-content: space-between; border: 1px solid; padding: 40px; box-sizing: border-box;
        a{
            font-size: 1.5rem;
            text-transform: none;
            margin: 0 -40px -40px;
            padding: 30px 20px;

            &.btn-b{
                box-shadow: -1px 0 0 0 #000;
            }
        }
    }

    &__heading { margin: 0 0 50px; }

    .u-cols {
        .u-col { width: 50%; display: flex; flex-direction: column;
            .c-box__title { width: 100%; }

            &--left {
                .c-box__title, .c-box__content { border-right: none; }
            }
        }

        &.bx {
            &--equal {
                .c-box {
                    &__content { height: 100%; }
                }
            }

            &--unset {
                .u-col {
                    &--right {
                        .c-box__title, .c-box__content { border-left: none; }
                    }
                }

                &:before { content: ""; position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 1px; height: 100%; background-color: $green; }
            }
        }
    }

    .c-atlet { display: flex; flex-direction: column; 
        a { margin: 0 0 10px; @include flex-center; justify-content: space-between; transition: 0.3s;
            svg { width: 20px; height: 20px; transition: 0.3s;
                path { fill: $green; }
            }

            &:last-of-type { margin: 0; }

            &:hover { color: $orange; 
                svg { transform: translate(6px,0);
                    path { fill: $orange; }
                }
            }
        }
    }

    &--nextstep {
        .c-box {
            &__content { @include flex-center; justify-content: space-between; }
            &__button { width: 100%; margin: 0 0 0 50px; }
        }
    }
}

.c-nextstep {
    &__title { margin: 0 0 50px; }
}

.c-coaches { border: 1px solid; padding: 40px; box-sizing: border-box; 
    &__title { margin: 0 0 60px; }

    .c-cards { justify-content: center; }
}

.c-togglers { 
    &__header { padding: 20px 30px; box-sizing: border-box; border-bottom: 1px solid $green; text-transform: uppercase; font-weight: 700; }
    .c-toggler { 
        &__header { border-bottom: 1px solid $green; padding: 20px 30px; box-sizing: border-box; @include flex-center; justify-content: space-between; cursor: pointer; font-weight: 700;
            span {
                svg { width: 25px; height: 25px; transform: rotate(45deg); transition: 0.3s;
                    path { fill: $green; }
                }
            }
        }

        &__content { display: none; border-bottom: 1px solid $green; padding: 20px 30px; box-sizing: border-box }

        &.is-active {
            svg { transform: rotate(90deg); }
        }

        &:last-of-type {
            .c-toggler__header { border-bottom: none; }

            &.is-active {
                .c-toggler__header { border-bottom: 1px solid $green; }
                .c-toggler__content { border-bottom: none; }
            }
        }
    }

    &--timetable {
            .c-toggler {

                &.is-active{
                    span{
                        font-weight: 600;
                    }
                }

                &__header {
                    display: grid;
                    grid-template-columns:repeat(8, 1fr);
                    grid-template-areas: "c1 c2 c2 c2 c3 c3 c3 c4";
                    gap: 10px;

                    span {  font-weight: 400; }
                    &-date { grid-area: c1; font-weight: 700!important; }
                    &-day { grid-area: c2;  }
                    &-location { grid-area: c3; max-width: 70%; width: 100%; text-align: center; }
                    &-icon { grid-area: c4; }
                }
            }
    }
}

.c-gallery { display: flex; justify-content: space-between; 
    &__column { width: 49.4444444444%; 
        &:first-of-type {
            .c-gallery {
                &__item { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            }

            .c-buttons { position: absolute; bottom: 20px; left: 20px; display: flex;
                a { background-color: $orange; color: $white; margin: 0 15px 0 0; padding: 10px 20px; box-sizing: border-box; }
            }
        }

        &:last-of-type { display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: -1%;
            .c-gallery {
                &__item { width: 49%; padding-bottom: 45%; margin-bottom: 2%; position: relative;

                    &:not(.is-visible){ display: none; }
                    img { position: absolute; top: 0; left: 0; @include object-fit; }
                }
            }
        }
    }
}

.c-bio { border: 1px solid $white;
    &__header { box-sizing: border-box; border-bottom: 1px solid $white; 
        .u-cols { position: relative;
            .u-col { padding: 40px; box-sizing: border-box; width: 50%; 
                &--left {
                    h3 { @include flex-center; justify-content: space-between; }
                    svg { width: 30px; height: 30px;
                        path { fill: $white; }
                    }
                }
            }

            &:before { content: ""; width: 1px; height: 100%; background-color: $white; position: absolute; top: 0; left: 0; right: 0; margin: auto; }
        }
    }

    &__body { padding: 40px; box-sizing: border-box; 
        .u-cols {
            .u-col { width: 48%; }
        }
    }
}

.c-ttogglers {
    .u-cols { align-items: flex-start;
        .u-col {
            &--left { width: 25%; position: sticky; top: 200px; }
            &--right { width: 50%; }
        }
    }

    .c-navbar {
        a { text-transform: uppercase; text-decoration: underline; display: block; margin: 0 0 20px; display: flex; justify-content: space-between;
            &.is-active { font-weight: 700; }

            svg { width: 30px; height: 30px; flex: none; margin: 0 0 0 30px; transition: 0.3s;
                path { fill: $green; }
            }

            &:hover {
                svg { transform: translate(10px, 0);}
            }
        }
    }

    .c-content { display: none;
        &:first-of-type { display: block; }
    }
}

.c-organisers { border: 1px solid $green; border-top: none; padding: 40px; box-sizing: border-box; 
    &__title { margin: 0 0 70px; }

    .u-cols {
        .u-col {
            &--left { width: 48%;
                img { margin: auto; }
            }

            &--right { margin: auto;
                a { display: block; font-size: 30px; line-height: 30px; margin: 0 0 40px; font-weight: 600; text-decoration: underline; @include flex-center; transition: 0.3s;
                    svg { width: 25px; height: 25px; flex: none; margin: 0 0 0 20px; transition: 0.3s;
                        path { fill: $green; }
                    }

                    &:hover { color: $orange;
                        svg { transform: translate(10px,0);
                            path { fill: $orange; }
                        }
                    }
                }
            }
        }
    }
}