.pagination{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;

  .page-numbers{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 18px;

    .current{
      font-weight: 600;
      color: var(--tra-primary-color);
    }
    a{
      color: var(--tra-primary-color);
      text-decoration: none !important;
      transition: all .15s linear;

      &:hover{
        font-weight: 600;
      }

      svg{
        height: 1em;
        width: auto;
        fill: var(--tra-primary-color);
      }


    }
  }
}