.c-text-back{
  margin-bottom: 30px;
  a{
    display: flex;
    gap: 20px;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;

    svg{ fill: var(--tra-primary-color); }
  }
}

