.c-tabs {
  &-nav {
    &--comunity { margin: 0 0 30px;
      a {  padding: 15px;
        span {

          &.title { font-size: 12px; flex-direction: column; align-items: flex-start; }
        }

        svg {
          height: 1.3em; width: auto;
          path {  }
        }

        &:last-of-type { }

        &:hover, &.is-active {
          span {  }
          svg {
            path {  }
          }
        }

        &:hover {
          svg { }
        }
      }
    }

    &--listing-boxes {
      a {  padding: 15px;
        span {

          &.title { font-size: 12px; flex-direction: column; align-items: flex-start; }
        }

        svg {
          height: 1.3em; width: auto;
          path {  }
        }

        &:last-of-type { }

        &:hover, &.is-active {
          span {  }
          svg {
            path {  }
          }
        }

        &:hover {
          svg { }
        }
      }
    }
  }
}

.module{
  &--story{
    .u-table {
      &-row {
        display: grid;
        grid-template-columns: 1fr;
        &:after {  }
      }

      &-column { width: 100%; padding: 30px 20px;
        &:nth-child(even):after { display: none; }
        &:not(.has-button):nth-child(even){  border-left: none; }
        &:before{content: "";position: absolute; top: 100%; left: 0; width: 100%; height: 1px; background-color: $white; }
        &:nth-child(odd){
          &:before{

          }
        }
        &:last-of-type {
          &:after { }
        }

        &:after{
          display: none;
        }

        &.is-full {  }

        &.has-logo {
          svg { max-width: 70px; }
        }

        &.has-button {
          border-left: none;
          a { padding: 0; }
        }

        &.has-cta {
          .c-cta {
            &__title {  }
          }

          .u-form {  }
        }
      }

      .u-text { position: relative;
        span { display: block;
          &.title {  font-size: 23px;
            line-height: 20px;
            margin: 0 0 15px;
          }
          &.text {  }
        }
      }
    }
  }

  &--athlete-info {
    padding-top: 20px;
    .grid-member {

      &--info {
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        grid-template-areas: unset;

      }

      &--info-social{
        display: flex; gap: 5px;

        a{ text-decoration: none; text-transform: none;}
        .value{
          display: flex; gap: 5px;
        }
      }

      &--image{
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 20px auto;

        .u-play {
          width: 50px;
          height: 50px;

          svg {
            width: 30px;
            height: 30px;
            margin: 0 0 0 3px;
            fill: #fff;
          }
        }
      }

      &--item {
        position: relative;
        padding: 20px;
        grid-area: unset !important;
        width: 100%;
        border: none;
        border-left: 1px solid $white !important;
        border-right: 1px solid $white !important;
        display: flex;
        justify-content: space-between;

        .label{ font-weight: 600; }
        &:first-of-type {border: none !important; padding: 0; }
        &:nth-of-type(2) {
          border-top: 1px solid $white !important;
        }

        &:last-of-type{
          border-bottom: 1px solid $white;
        }

      }
    }
  }

  &--countdown-timer{
    padding: 0 0 50px 0;
    .c{
      &--timer-container{
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
      }

      &--label{
        font-size: 16px;
        font-weight: 500;
        color: $green;
      }

      &--timer{
        width: 360px;
      }

      &--seats{

        ul{
          li{
            font-size: 45px;
          }
        }
      }
    }
    ul{

      li{
        color: $green;
        span {

          &:not(.timer-section){

          }

          &:last-of-type{
            font-size: 16px;
            font-weight: 400;
          }
          &:first-of-type {
            font-size: 45px;
          }

        }
      }
    }
  }
}

.c-nutrition {
  &__title {  }

  .inner {  }

  .c-items {
    display: grid; grid-template-columns: repeat( 2, 1fr ); border: 1px solid $green; border-top: none;
    .c-item {  padding: 20px; flex-direction: column; gap: 10px; width: 100%; border: none;
      &:first-of-type {
        border-right: 1px solid $green;
      }

      &:nth-of-type(2) {
      }
      &:nth-of-type(3) {
        border-top: 1px solid $green;
        border-right: 1px solid $green;
      }

      &:nth-of-type(4) {
        border-top: 1px solid $green;
      }

      &:after { display: none; }
      &:before { display: none; }

      &__icon { margin: 0;  svg{height: 35px; width: auto;}}

      &__title {
        span { display: block; font-weight: 700; font-size: 14px; text-align: center;
          &:last-of-type { font-size: 18px; line-height: 22px; margin: 5px 0 0; }
        }
      }
    }
  }
}

.c-events {
  &:first-of-type{ }
  &__header { flex-direction: column; align-items: flex-start; padding: 20px 15px; gap: 15px;
    a {  padding: 0; font-size: 16px; width: 100%; border-left: 0; gap: 10px;
      svg { margin: 0; height: 1.125em; width: auto;
        path {  }
      }

      span {  }

      &:hover {
        svg {
          path {  }
        }
      }
    }

    span {

      &.title { font-size: 25px; line-height: 25px; padding: 0; width: 100%; }
    }
  }

  .c-table {
    &-item {
      position: relative;
      border-bottom: none;
      padding: 30px 15px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns:unset;
      grid-template-areas: unset;
      grid-template-rows: repeat(1, 1fr);
      grid-auto-flow: row;
      gap: 10px;
      text-align: right;
      &:last-of-type { }

      &__column {
        position: relative;
        max-width: 100% !important;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        &::before {
          content: attr(data-label);
          display: block;
          font-weight: 600;
          margin-bottom: 5px;
          text-align: left;
        }
      }
      &__date { grid-area: unset;  }
      &__title { grid-area: unset; }
      &__location { grid-area: unset;}
      &__url {grid-area: unset;  display: flex; align-items: center; justify-content: flex-end; width: 100%; margin-top: 15px;
        a {
          svg {
            path {  }
          }

          &:hover {
            svg { }
          }
        }

        &.is-active {
          a {
            svg { }
          }
        }
      }
    }

    &-content {
      .u-cols {
        .u-col {
          &--right {
            .btn {  }
          }
        }

        &.has-members {
          .u-col {
            &--left {  }
            &--right {
              a{

              }
            }
          }
        }
      }
    }

    .c-members-tagline {  }

    .c-members-list {
      &__item {
        img { }
      }
    }

    &-row {
      &:last-of-type {  }
    }
  }

  &.is-green {
    .c-events {
      &__header {  }
    }

    .c-table {
      &-row { }

      &-item {
        &__url { }
      }
    }
  }

  &.is-white {
    .c-events {
      &__header {
        a {
          &:hover {  }
        }
      }
    }

    .c-table {
      &-row {  }

      &-item {
        &__url {
          a {
            svg {
              path { }
            }
          }
        }
      }
    }
  }
}