.page-404{
  .row{
    .col{
      &--1{
        h1{
          margin-top: 15%;
        }
        .back-404{


          svg{ height: 50px; width: auto;}
        }
      }

      &--2{
        .error-img{
          img{
            max-width: 100%;
          }
        }
      }
    }
  }
}