.module {
  &--athlete-info {
    .grid-member {
      &--image{max-height:530px;}

      &--item {
        padding: 30px 20px;
        .label{ font-weight: 600; }
      }
    }
  }
}

.c-tabs {
  &-nav {
    &--comunity { margin: 0 0 40px;
      a {  padding: 30px;
        span {
          &.letter { font-size: 70px;  }

          &.title { font-size: 20px;  }
        }

        svg {
          path {  }
        }

        &:last-of-type { }

        &:hover, &.is-active {
          span {  }
          svg {
            path {  }
          }
        }

        &:hover {
          svg { }
        }
      }
    }

    &--comunity {
      a {  padding: 30px;
        span {
          &.letter { font-size: 70px;  }

          &.title { font-size: 20px;  }
        }

        svg {
          path {  }
        }

        &:last-of-type { }

        &:hover, &.is-active {
          span {  }
          svg {
            path {  }
          }
        }

        &:hover {
          svg { }
        }
      }
    }
  }
}

.c-sh { margin: 0 0 5px;
  &__title { margin: 0 0 40px;
    &.lg { font-size: 40px; line-height: 1em; }
  }
}

.c-header-lines {
  .inner { padding: 30px;
    span { font-size: 25px; }
    svg{
      height: 25px; width: auto;
    }
  }

  &.is-green {
    .inner {  }
  }

  &.has-margin {  }
}

.c-scroll { margin: 45px 0 0;}

.c-navbars {
  &--blog {
    .c-nav-blog {
      &--categories {
        .c-cats {
          .c-cat {  align-items: center;}
        }
      }

      &--authors {
        .container { border-bottom: 1px solid var(--tra-primary-color); }
      }

      .c-cats {
        .c-cat { padding: 30px;
          &:after {  }

          &:first-of-type {
            &:before {  }
          }

          &.is-active, &:hover {  }
        }
      }
    }
  }
}

.c-nutrition {
  &__title {  }

  .inner {  }

  .c-items {
    .c-item {  padding: 40px 30px;
      &:first-of-type {
        &:before {  }
      }

      &:after {  }

      &__icon {   margin: 0 15px 0 0; svg{width: 30px; height: auto; } }

      &__title {
        span { display: block; font-weight: 700; font-size: 16px;
          &:last-of-type { font-size: 20px; line-height: 26px; margin: 5px 0 0; }
        }
      }
    }
  }
}