/* Tablet */
h1 { font-size: 56px; line-height: 66px; }
h2 { font-size: 40px; line-height: 50px; }
h3 { font-size: 28px; line-height: 38px; }
h4 { font-size: 22px; line-height: 32px; }
p, ul, ol { font-size: 16px; line-height: 28px; font-weight: 400; }

.c-editor {
  h2,h3,h4,h5,h6 { margin: 0 0 25px; }
}
