/*--------------------------------------------------------------
# Reset list styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flex: Align items in center
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flex: Align items in center with space between
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Make Image fit the parent container
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Align items to top using absolute
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Align items to bottom using absolute
--------------------------------------------------------------*/
.module--ti.is-transparent .u-cols .u-col--right img {
  margin: auto;
}
.module--ti.has-bg {
  position: relative;
  margin-top: 200px;
}
.module--ti.has-bg .container {
  position: unset;
}
.module--ti.has-bg .u-cols .u-col--left {
  width: 60%;
  position: relative;
  z-index: 9;
}
.module--ti.has-bg .u-cols .u-col--right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.module--ti.has-bg .u-cols .u-col--right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.module--ti.has-bg .u-cols .u-col--right:before {
  content: "";
  width: 100%;
  height: 137px;
  position: absolute;
  top: -137px;
  right: 0;
  background-color: var(--tra-primary-color);
}
.module--ti .c-button {
  display: flex;
  margin: 40px 0 0;
}
.module--ti .c-list__title {
  margin: 40px 0;
}
.module--ti .c-list a {
  display: flex;
  flex-direction: column;
  margin: 0 0 36px;
  text-decoration: underline;
  max-width: 70%;
  transition: 0.3s;
}
.module--ti .c-list a svg {
  width: 30px;
  height: 30px;
  margin: 10px 0 0;
  transition: 0.3s;
}
.module--ti .c-list a svg path {
  fill: var(--tra-primary-color);
}
.module--ti .c-list a:hover {
  opacity: 0.8;
}
.module--ti .c-list a:hover svg {
  transform: translate(10px, 0);
}
.module--ti .c-list a:last-of-type {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .module--ti {
    margin-bottom: 60px;
  }
  .module--ti .u-cols .u-col--left {
    width: 100%;
  }
  .module--ti .u-cols .u-col--right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 20px !important;
    max-width: 150px;
  }
  .module--ti .u-cols .u-col--right:before {
    display: none;
  }
  .module--ti.has-bg {
    margin-top: 60px;
    padding: 60px 0;
    margin-bottom: 0;
  }
  .module--ti.has-bg .u-cols .u-col--left {
    width: 100%;
  }
  .module--ti.has-bg .u-cols .u-col--right {
    position: relative;
  }
  .module--ti.has-bg .u-cols .u-col--right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 20px auto auto;
  }
  .module--ti.has-bg .u-cols .u-col--right:before {
    display: none;
  }
}

/*# sourceMappingURL=module-ti.css.map */
