/*--------------------------------------------------------------
# Reset list styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flex: Align items in center
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flex: Align items in center with space between
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Make Image fit the parent container
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Align items to top using absolute
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Align items to bottom using absolute
--------------------------------------------------------------*/
.module--trainingplan .module__heading {
  margin: 0 0 50px;
}
.module--trainingplan .module__headline .c-content {
  padding: 40px;
  border: 1px solid var(--tra-primary-color);
  border-bottom: none;
}
.module--trainingplan .module__headline .c-content h2 {
  margin-bottom: 0;
}
.module--trainingplan .c-plan-header {
  border-top: 1px solid var(--tra-primary-color);
  border-bottom: 1px solid var(--tra-primary-color);
}
.module--trainingplan .c-plan .c-nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.module--trainingplan .c-plan .c-nav--coaches {
  border-bottom: 1px solid;
}
.module--trainingplan .c-plan .c-nav__item {
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 33.33333333%;
  font-size: 24px;
  font-weight: 700;
  transition: 0.3s;
}
.module--trainingplan .c-plan .c-nav__item:after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--tra-primary-color);
  position: absolute;
  right: 0;
  top: 0;
}
.module--trainingplan .c-plan .c-nav__item:first-of-type:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--tra-primary-color);
  position: absolute;
  left: 0;
  top: 0;
}
.module--trainingplan .c-plan .c-nav__item.is-active, .module--trainingplan .c-plan .c-nav__item:hover {
  background-color: var(--tra-primary-color);
  color: var(--tra-light-color);
}
.module--trainingplan .c-plan [data-count="2"] .c-nav__item {
  width: 50%;
}
.module--trainingplan .c-plan-content {
  border: 1px solid var(--tra-primary-color);
  border-top: none;
  padding: 40px;
  box-sizing: border-box;
  display: none;
}
.module--trainingplan .c-plan-content .u-cols {
  display: flex;
  justify-content: space-between;
}
.module--trainingplan .c-plan-content .u-cols .u-col--left {
  width: 30%;
  flex: none;
}
.module--trainingplan .c-plan-content .u-cols .u-col--right {
  width: 66%;
}
.module--trainingplan .c-plan-content.is-active {
  display: block;
}
.module--trainingplan .c-plan-features {
  margin: 0 0 50px;
}
.module--trainingplan .c-plan-features .c-features {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4%;
}
.module--trainingplan .c-plan-features .c-features .c-feature {
  width: 30%;
  margin-right: 3% !important;
  margin: 0 0 30px;
  display: flex;
}
.module--trainingplan .c-plan-features .c-features .c-feature__icon {
  flex: none;
  margin: 0 15px 0 0;
}
.module--trainingplan .c-plan-features .c-features .c-feature__icon svg {
  width: 40px;
  height: 40px;
  display: flex;
}
.module--trainingplan .c-plan-features .c-features .c-feature__text span {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}
.module--trainingplan .c-plan-meta {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
}
.module--trainingplan .c-plan-meta__name {
  margin: 0 50px 0 0;
}
.module--trainingplan .c-plan-meta__name span {
  display: block;
}
.module--trainingplan .c-plan-meta__name span:last-of-type {
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
}
.module--trainingplan .c-plan-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.module--trainingplan .c-plan.vomaster {
  border-top: 1px solid var(--tra-primary-color);
}

@media screen and (max-width: 1199px) {
  .module--trainingplan .c-plan.vomaster .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .module--trainingplan .module__headline .c-content {
    padding: 20px 15px;
  }
  .module--trainingplan .container {
    border: none;
  }
  .module--trainingplan .c-plan-header {
    border: none;
  }
  .module--trainingplan .c-plan .c-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    white-space: nowrap;
    box-shadow: -1px 0 0 0 var(--tra-primary-color), 1px 0 0 0 var(--tra-primary-color);
  }
  .module--trainingplan .c-plan .c-nav:first-child {
    border-top: 1px solid;
  }
  .module--trainingplan .c-plan .c-nav:last-child {
    border-bottom: 1px solid;
  }
  .module--trainingplan .c-plan .c-nav__item {
    font-size: 1.1rem;
    padding: 15px;
    width: 50%;
  }
  .module--trainingplan .c-plan .c-nav__item:before {
    display: none;
  }
  .module--trainingplan .c-plan .c-nav__item:last-child:after {
    display: none;
  }
  .module--trainingplan .c-plan-content {
    padding: 30px 15px;
  }
  .module--trainingplan .c-plan-content .u-cols {
    flex-direction: column;
    gap: 15px;
  }
  .module--trainingplan .c-plan-content .u-cols .u-col--left {
    width: 100%;
  }
  .module--trainingplan .c-plan-content .u-cols .u-col--left .c-plan__image img {
    max-width: 100px;
  }
  .module--trainingplan .c-plan-content .u-cols .u-col--right {
    width: 100%;
  }
  .module--trainingplan .c-plan-features {
    margin: 0 0 20px;
  }
  .module--trainingplan .c-plan-features .c-features .c-feature {
    line-height: 1rem;
    width: 45%;
  }
  .module--trainingplan .c-plan-features .c-features .c-feature__icon svg {
    width: 25px;
    height: 25px;
  }
  .module--trainingplan .c-plan-features .c-features .c-feature__text span {
    font-size: 13px;
    line-height: 1rem;
  }
  .module--trainingplan .c-plan-meta {
    margin: 0 0 25px;
  }
  .module--trainingplan .c-plan-meta__name {
    margin: 0 25px 0 0;
  }
  .module--trainingplan .c-plan-meta__name span {
    font-size: 15px;
  }
  .module--trainingplan .c-plan-meta__name span:last-of-type {
    font-size: 20px;
    line-height: 1.25em;
  }
  .module--trainingplan .c-plan-footer__notice p {
    font-size: 16px;
    line-height: 1.12em;
  }
}

/*# sourceMappingURL=module-trainingplan.css.map */
