.module{
  &--story { overflow: hidden; }
}

@media screen and (max-width: 991px){
  .module{
    &--story{
      .u-table {
        &-row {
          display: grid;
          grid-template-columns: repeat( 2, 1fr);
          &:after {  }
        }

        &-column { width: 100%;
          &:not(.has-button):nth-child(even){  border-left: 1px solid var(--tra-light-color); }
          &:after{
            display: none;
          }
          &:not(.has-button):not(.has-logo):before{content: "";position: absolute; top: 100%; left: 0; width: 100%; height: 1px; background-color: var(--tra-light-color); }
          &:nth-child(odd){
            &:before{

            }
          }
          &.has-button {
            margin: 0;
            border-left: 1px solid var(--tra-light-color);
            a { padding: 0; }
          }
        }

        .u-text { position: relative;
          span { display: block;
            &.title { font-weight: 700; font-size: 24px; line-height: 34px; margin: 0 0 25px; }
            &.text { font-weight: 400; line-height: 30px; }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .module{
    &--story{
      .u-table {
        &-row {
          display: grid;
          grid-template-columns: repeat( 2, 1fr);
          &:after {  }
        }

        &-column { width: 100%; padding: 30px 20px;
          &:nth-child(even){  border-left: 1px solid var(--tra-light-color); }
          &:before{content: "";position: absolute; top: 100%; left: 0; width: 100%; height: 1px; background-color: var(--tra-light-color); }

          &:last-of-type {
            &:after { }
          }

          &:after{
            display: none;
          }

          &.is-full {  }

          &.has-logo {
            svg { max-width: 100px; height: auto; }
          }

          &.has-button {
            height: 100%;
            a { padding: 0; }
          }

          &.has-cta {
            width: 100%;
            .c-cta {
              &__title { font-size: 25px; }
            }

            .u-form {  }
          }
        }

        .u-text { position: relative;
          span { display: block;
            &.title {  }
            &.text {  }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px){
  .module{
    &--story{
      .u-table {
        &-row {
          display: grid;
          grid-template-columns: 1fr;
          &:after {  }
        }

        &-column { width: 100%; padding: 30px 20px;
          &:nth-child(even):after { display: none; }
          &:not(.has-button):nth-child(even){  border-left: none; }
          &:before{content: "";position: absolute; top: 100%; left: 0; width: 100%; height: 1px; background-color: var(--tra-light-color); }
          &:nth-child(odd){
            &:before{

            }
          }
          &:last-of-type {
            &:after { }
          }

          &:after{
            display: none;
          }

          &.is-full {  }

          &.has-logo {
            svg { max-width: 70px; }
          }

          &.has-button {
            border-left: none;
            a { padding: 0; }
          }

          &.has-cta {
            .c-cta {
              &__title {  }
            }

            .u-form {  }
          }
        }

        .u-text { position: relative;
          span { display: block;
            &.title {  font-size: 23px;
              line-height: 20px;
              margin: 0 0 15px;
            }
            &.text {  }
          }
        }
      }
    }
  }
}