/*--------------------------------------------------------------
# Reset list styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flex: Align items in center
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flex: Align items in center with space between
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Make Image fit the parent container
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Align items to top using absolute
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Align items to bottom using absolute
--------------------------------------------------------------*/
.module--comunity {
  border-top: 1px solid var(--tra-primary-color);
  padding-bottom: 100px;
  background-color: var(--tra-light-color);
}
.module--comunity .inner .u-cols {
  border-left: 1px solid var(--tra-primary-color);
  border-right: 1px solid var(--tra-primary-color);
  border-bottom: 1px solid var(--tra-primary-color);
}
.module--comunity .inner .u-cols .u-col {
  width: 50%;
  box-sizing: border-box;
}
.module--comunity .inner .u-cols .u-col--left {
  border-right: 1px solid var(--tra-primary-color);
  padding: 40px;
}
.module--comunity .inner .u-cols .u-col--right {
  padding: 0 80px 60px;
  display: flex;
  flex-direction: column;
}
.module--comunity .inner .u-cols .u-col--right img {
  margin: 0 auto 60px;
}
.module--comunity .inner .u-cols .u-col--right .c-button {
  margin-top: auto;
}
.module--comunity .inner .c-links {
  margin: 40px 0 0;
}
.module--comunity .inner .c-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.module--comunity .inner .c-links ul li {
  margin: 0 0 20px;
}
.module--comunity .inner .c-links ul li a {
  width: 122px;
  justify-content: space-between;
}
.module--comunity .inner .c-links ul li a svg {
  margin: 0;
}
.module--comunity .inner .c-links ul li:last-of-type {
  margin: 0;
}
.module--comunity .module-header {
  position: relative;
  display: flex;
  border-bottom: 1px solid var(--tra-primary-color);
}
.module--comunity .module-header:before {
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--tra-light-color);
  position: absolute;
  left: 0;
  border-right: 1px solid var(--tra-primary-color);
}
.module--comunity .module-header:after {
  content: "";
  width: 50%;
  height: 100%;
  background-color: var(--tra-primary-color);
  position: absolute;
  right: 0;
}
.module--comunity .module-header .u-cols .u-col--left {
  padding: 40px;
  box-sizing: border-box;
  border-left: 1px solid var(--tra-primary-color);
  border-right: 1px solid var(--tra-primary-color);
  width: 50%;
}

@media screen and (max-width: 767px) {
  .module--comunity {
    border-top: 1px solid var(--tra-primary-color);
    padding-bottom: 100px;
    background-color: var(--tra-light-color);
  }
  .module--comunity .inner .u-cols .u-col {
    width: 100%;
    padding: 20px 15px 40px 15px;
  }
  .module--comunity .inner .u-cols .u-col--left {
    border: none;
  }
  .module--comunity .inner .u-cols .u-col--right img {
    max-width: 200px;
  }
  .module--comunity .inner .c-links {
    margin: 20px 0 0;
  }
  .module--comunity .inner .c-links ul li {
    margin: 0 0 10px;
  }
  .module--comunity .inner .c-links ul li a {
    width: auto;
    justify-content: flex-start;
    gap: 20px;
  }
  .module--comunity .module-header {
    position: relative;
    display: flex;
    border-bottom: 1px solid var(--tra-primary-color);
  }
  .module--comunity .module-header:before, .module--comunity .module-header:after {
    display: none;
  }
  .module--comunity .module-header .u-cols .u-col--left {
    padding: 20px 15px;
    width: 100%;
  }
}

/*# sourceMappingURL=module-comunity.css.map */
