/*--------------------------------------------------------------
# Reset list styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flex: Align items in center
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flex: Align items in center with space between
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Make Image fit the parent container
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Align items to top using absolute
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Align items to bottom using absolute
--------------------------------------------------------------*/
.module--camps.has-title {
  position: relative;
  margin-top: 130px;
}
.module--camps.has-title:before {
  content: "";
  position: absolute;
  background: var(--tra-light-color);
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 130px;
}
.module--camps.has-title .u-cols--header {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
}
.module--camps.has-title .u-cols--header .u-col--left {
  padding: 40px;
  width: 50%;
  border: 1px solid var(--tra-primary-color);
  border-bottom: none;
}
.module--camps.has-title .u-cols--header .u-col--left a {
  display: flex;
  justify-content: space-between;
}
.module--camps.has-title .u-cols--header .u-col--left svg {
  fill: var(--tra-primary-color);
  transform: rotate(90deg);
  transform-origin: center;
}
.module--camps .u-cols .u-col {
  width: 50%;
}
.module--camps .u-cols--main {
  border: 1px solid var(--tra-light-color);
}
.module--camps .u-cols--main .u-col--left {
  position: relative;
}
.module--camps .u-cols--main .u-col--left:after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--tra-light-color);
  position: absolute;
  top: 0;
  right: 0;
}
.module--camps .u-cols--main .u-col--right {
  position: relative;
}
.module--camps .c-camps {
  margin: 0 0 100px;
}
.module--camps .c-camps .c-camp__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}
.module--camps .c-camps .c-camp__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.module--camps .c-station__header {
  padding: 40px;
  box-sizing: border-box;
}
.module--camps .c-station__header span {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.module--camps .c-station__header a {
  font-size: 20px;
  line-height: 30px;
  text-decoration: underline;
  color: var(--tra-light-color);
}
.module--camps .c-station__meta {
  padding: 40px;
  box-sizing: border-box;
  border-top: 1px solid var(--tra-light-color);
}
.module--camps .c-station__meta-title {
  margin: 0 0 30px;
}
.module--camps .c-station__footer .u-cols .u-col {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module--camps .c-station__footer .u-cols .u-col--left {
  border-top: 1px solid var(--tra-light-color);
}
.module--camps .c-station__footer .u-cols .u-col--left span {
  text-transform: uppercase;
}
.module--camps .c-station__footer .u-cols .u-col--right svg {
  width: 40px;
  height: 40px;
}
.module--camps .c-station__footer .u-cols .u-col--right svg path {
  fill: var(--tra-light-color);
}

@media screen and (max-width: 1199px) {
  .module--camps.has-title .u-cols--header {
    width: calc(100% - 30px);
    left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .module--camps.has-title {
    margin-top: 80px;
  }
  .module--camps.has-title .u-cols--header {
    width: calc(100% - 30px);
    left: 15px;
  }
  .module--camps.has-title .u-cols--header .u-col--left {
    padding: 20px 15px;
    width: 100%;
  }
  .module--camps .u-cols--main .u-col--left {
    position: relative;
    order: 2;
  }
  .module--camps .u-cols--main .u-col--left:after {
    display: none;
  }
  .module--camps .u-cols--main .u-col--right {
    position: relative;
    order: 1;
  }
  .module--camps .c-camps .c-camp__image {
    position: relative;
    padding: 0;
  }
  .module--camps .c-station__header {
    padding: 20px 15px;
  }
  .module--camps .c-station__header span {
    font-size: var(--tra-mobile-font-size);
    line-height: 20px;
  }
  .module--camps .c-station__header a {
    text-align: right;
    font-size: var(--tra-mobile-font-size);
    line-height: 20px;
  }
  .module--camps .c-station__meta {
    padding: 20px 15px;
  }
  .module--camps .c-station__footer .u-cols {
    flex-direction: row;
  }
  .module--camps .c-station__footer .u-cols .u-col {
    width: 50%;
    height: 70px;
  }
  .module--camps .c-station__footer .u-cols .u-col--left {
    order: 1;
  }
  .module--camps .c-station__footer .u-cols .u-col--left span {
    text-transform: uppercase;
    font-size: var(--tra-mobile-font-size);
  }
  .module--camps .c-station__footer .u-cols .u-col--left:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }
  .module--camps .c-station__footer .u-cols .u-col--right svg {
    width: 30px;
    height: 30px;
  }
  .module--camps .c-station__footer .u-cols .u-col--right svg path {
    fill: var(--tra-light-color);
  }
}

/*# sourceMappingURL=module-camps.css.map */
